aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1741775197943/work
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1767524532482/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1751626463503/work
alabaster @ file:///home/conda/feedstock_root/build_artifacts/alabaster_1733750398730/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
antlr4-python3-runtime @ file:///home/conda/feedstock_root/build_artifacts/antlr-python-runtime-meta_1638309185939/work
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1733753955715/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_attrs_1764875182/work
babel @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_babel_1772555330/work
backports.tarfile @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_backports.tarfile_1767290467/work
black @ file:///home/conda/feedstock_root/build_artifacts/black-recipe_1773315246795/work
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1749686179973/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1756599151967/work
build @ file:///home/conda/feedstock_root/build_artifacts/python-build_1767988639766/work
CacheControl @ file:///home/conda/feedstock_root/build_artifacts/cachecontrol-split_1746102850263/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1773120366885/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1772001073725/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1761202849623/work
cfgv @ file:///home/conda/feedstock_root/build_artifacts/cfgv_1763607870856/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1773659966602/work
click @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_click_1764518652/work
click-default-group @ file:///home/conda/feedstock_root/build_artifacts/click-default-group_1734029471448/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
conda_lock @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_conda-lock_1766420268/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1751548120229/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_contourpy_1769155975/work
crashtest @ file:///home/conda/feedstock_root/build_artifacts/crashtest_1733564795535/work
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography-split_1770772198368/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cycler_1764466758/work
datasets @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_datasets_1755878391/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1706434688412/work
distlib @ file:///home/conda/feedstock_root/build_artifacts/distlib_1752822973799/work
docker-pycreds==0.4.0
docutils @ file:///home/conda/feedstock_root/build_artifacts/docutils_1766092521263/work
dulwich @ file:///home/conda/feedstock_root/build_artifacts/dulwich_1764184314748/work
ensureconda @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ensureconda_1759790124/work
eval_type_backport @ file:///home/conda/feedstock_root/build_artifacts/eval_type_backport_1764679206270/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1763918002538/work
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-fastjsonschema_1755304154/work/dist
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1773313889543/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1773137064424/work
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1752167142843/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1741403990995/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1735887193964/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1767358723114/work
gmpy2 @ file:///home/conda/feedstock_root/build_artifacts/gmpy2_1773244933613/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
hf-xet @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_hf-xet_1773430452/work/hf_xet
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
huggingface_hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1761225853865/work
hydra-core @ file:///home/conda/feedstock_root/build_artifacts/hydra-core_1736934708722/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
identify @ file:///home/conda/feedstock_root/build_artifacts/identify_1772402250996/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1760286409563/work
imagesize @ file:///home/conda/feedstock_root/build_artifacts/imagesize_1656939531508/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1736252299705/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1760831328738/work
installer @ file:///home/conda/feedstock_root/build_artifacts/python-installer_1733237321392/work
jaraco.classes @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jaraco.classes_1767294269/work
jaraco.context @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jaraco.context_1773131463/work
jaraco.functools @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jaraco.functools_1767294193/work
jeepney @ file:///home/conda/feedstock_root/build_artifacts/jeepney_1740828240267/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jinja2_1764517220/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1765794027227/work
keyring @ file:///home/conda/feedstock_root/build_artifacts/keyring_1763320549771/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_kiwisolver_1773067041/work
librt @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-librt_1771423012/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1754951200865/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1772444934960/work
matplotlib==3.10.8
mdformat @ file:///home/conda/feedstock_root/build_artifacts/mdformat_1760629129858/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_more-itertools_1764487059/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1773661943568/work
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1762504001028/work
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1771610691664/work
multiprocess @ file:///home/conda/feedstock_root/build_artifacts/multiprocess_1724954612691/work
munkres==1.1.4
mypy @ file:///home/conda/feedstock_root/build_artifacts/mypy-split_1765794693195/work
mypy_extensions @ file:///home/conda/feedstock_root/build_artifacts/mypy_extensions_1745776566517/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1765215107/work
nodeenv @ file:///home/conda/feedstock_root/build_artifacts/nodeenv_1766261093578/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_numpy_1770098496/work/dist/numpy-2.4.2-cp311-cp311-linux_x86_64.whl#sha256=cfbdcca39199740e62dd9435af143f550913198d984087964c79342fd1ca2063
omegaconf @ file:///home/conda/feedstock_root/build_artifacts/omegaconf_1670575376789/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1769093650/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pandas_1771408984/work
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1769677630637/work
pillow @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pillow_1770794002/work
pkginfo @ file:///home/conda/feedstock_root/build_artifacts/pkginfo_1739984581450/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1773199142/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pluggy_1764896838/work
pre_commit @ file:///home/conda/feedstock_root/build_artifacts/pre-commit_1765937468345/work
propcache @ file:///home/conda/feedstock_root/build_artifacts/propcache_1744524942571/work
protobuf @ file:///home/conda/feedstock_root/build_artifacts/protobuf_1728668293065/work/bazel-bin/python/dist/protobuf-5.28.2-cp311-abi3-linux_x86_64.whl#sha256=cdac39538b7de36774cb69473dcbbd4c745a6288122393f6575924ced9d95f16
psutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_psutil_1769678156/work
pyarrow==18.1.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pydantic_1764434463/work
pydantic_core @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pydantic-core_1762988992/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1750615794071/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1769003998/work
pyproject-api @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyproject-api_1760107122/work
pyproject_hooks @ file:///home/conda/feedstock_root/build_artifacts/pyproject_hooks_1733710025763/work
PySide6==6.9.2
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
pytest @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pytest_1765062031/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
pytokens @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pytokens_1771613635/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1770223234623/work
regex @ file:///home/conda/feedstock_root/build_artifacts/regex_1772255018905/work
requests @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_requests_1766926974/work
requests-toolbelt @ file:///home/conda/feedstock_root/build_artifacts/requests-toolbelt_1733734787568/work
roman-numerals @ file:///home/conda/feedstock_root/build_artifacts/roman-numerals_1766002886874/work
ruamel.yaml @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ruamel.yaml_1767538149/work
ruamel.yaml.clib @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ruamel.yaml.clib_1766159530/work
ruff @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ruff_1772780208/work
safetensors @ file:///home/conda/feedstock_root/build_artifacts/safetensors_1763569478040/work
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_scikit-learn_1765801236/work/dist/scikit_learn-1.8.0-cp311-cp311-linux_x86_64.whl#sha256=10e8a0aaf1f4d6aa57c1c153e69c928c295917ff92981937b342f55a31cdb18b
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1771879143720/work/dist/scipy-1.17.1-cp311-cp311-linux_x86_64.whl#sha256=f015f9f22d3862e43fde9957ff53c8c012eaed642484f10b48295cd9d85ab732
SecretStorage @ file:///home/conda/feedstock_root/build_artifacts/secretstorage_1763045296638/work
semver @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_semver_1767294175/work
sentencepiece @ file:///home/conda/feedstock_root/build_artifacts/sentencepiece-split_1732564372785/work/python
sentry-sdk @ file:///home/conda/feedstock_root/build_artifacts/sentry-sdk_1772623000394/work
setproctitle @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_setproctitle_1766684457/work
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1762858192781/work
shiboken6==6.9.2
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1739781697784/work
snowballstemmer @ file:///home/conda/feedstock_root/build_artifacts/snowballstemmer_1747749415787/work
Sphinx @ file:///home/conda/feedstock_root/build_artifacts/sphinx_1764850256295/work
sphinxcontrib-applehelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-applehelp_1733754101641/work
sphinxcontrib-devhelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-devhelp_1733754113405/work
sphinxcontrib-htmlhelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-htmlhelp_1733754280555/work
sphinxcontrib-jsmath @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-jsmath_1733753744933/work
sphinxcontrib-qthelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-qthelp_1733753408017/work
sphinxcontrib-serializinghtml @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-serializinghtml_1733750479108/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1771952240620/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
tokenizers @ file:///home/conda/feedstock_root/build_artifacts/tokenizers_1764694738732/work/bindings/python
tomli @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tomli_1768146676/work
tomli_w @ file:///home/conda/feedstock_root/build_artifacts/tomli-w_1736962227066/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1768476518220/work
torch @ file:///home/conda/feedstock_root/build_artifacts/libtorch_1730833640211/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1765458745064/work
tox @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tox_1772808011/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tqdm_1770153424/work
transformers @ file:///home/conda/feedstock_root/build_artifacts/transformers_1758306386248/work
trove-classifiers @ file:///home/conda/feedstock_root/build_artifacts/trove-classifiers_1768550114862/work
typing-inspection @ file:///home/conda/feedstock_root/build_artifacts/typing-inspection_1764158251755/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
ukkonen @ file:///home/conda/feedstock_root/build_artifacts/ukkonen_1769438583273/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1770908962415/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
virtualenv @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_virtualenv_1771967166/work
wandb @ file:///home/conda/feedstock_root/build_artifacts/wandb_1773356997675/work
xxhash @ file:///home/conda/feedstock_root/build_artifacts/python-xxhash_1762516169530/work
yamllint @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_yamllint_1770937575/work
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1772409262719/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_zipp_1764460141/work
zstandard==0.25.0
